#main-header {
  height: 750px;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #b39261;
background-image: url("https://www.transparenttextures.com/patterns/old-map.png");
}

.avatar {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
}

.name {
  margin-top: 130px; /* Adjust spacing as needed */
}  

@media only screen and (min-width: 1024px) {
  #main-header {
    width: 45%;
  }
}