
textarea {
  flex: 100%;
  background: transparent;
  font-weight: bold;
  border: none;
  border-bottom: solid 3px #545149;
  margin-top: 0em;
  margin-bottom: 1em;
  color: #545149;
  height: 60px;
  width: 100%;
  outline: none;
}

label[for="tweet-text"] {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: bold;
}

.counter {
  font-family: 'Bungee', cursive, sans-serif;
}

.tweet-button-counter {
  display: flex;
  justify-content: space-between;
}

#tweet-button {
  font-family: 'Bungee', cursive, sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
  outline: none;
}

#error-container {
  display: none;
  font-family: 'Bungee', cursive, sans-serif;
  font-weight: 200;
  border: 4px solid #ff0000;
  color: #ff0000;
  padding: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
  background: none;
  box-sizing: border-box;
}

#error-container .fa-exclamation-circle {
  margin-right: 5px;
}

.new-tweet {
  position: relative;
  z-index: 0;
}
